.cartOrder {
  table {
    tbody {
      tr {
        .quantity {
          &__btn {
            border: 1px solid #adadad;
            padding: 0 5px;
            cursor: pointer;
            &:hover {
              color: #307df6;
              border: 1px solid #307df6;
            }
          }
        }
        .ondelete {
          cursor: pointer;
          background-color: rgb(224, 72, 72);
          border-radius: 3px;
          padding: 3px 6px;
          color: white;
          &:hover {
            background-color: rgb(185, 61, 61);
          }
        }
      }
    }
  }
}
.add-cart {
  font-size: 20px;
  color: #307df6;
  cursor: pointer;
}
