.nav {
  .nav-item {
    margin-bottom: 1.5rem;
    a {
      font-weight: bold;
      color: #333;
      text-decoration: none;
      font-size: 100%;
      border-bottom: 1px solid #dadada;
      display: block;
      line-height: 25px;
      &:hover {
        color: #499df7;
      }
      i {
        margin-right: 0.75rem;
        font-size: 1rem;
      }
    }
    .active {
      color: #007bff;
    }
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
