.New {
  border: 1px solid rgb(0, 128, 115);
  border-radius: 3px;
  padding: 3px 5px;
  color: rgb(0, 128, 115);
}
.Delivering {
  border: 1px solid #307df6;
  border-radius: 3px;
  padding: 3px 5px;
  color: #307df6;
}
.Success {
  border: 1px solid green;
  border-radius: 3px;
  padding: 3px 5px;
  color: green;
}
.Destroy {
  border: 1px solid red;
  border-radius: 3px;
  padding: 3px 5px;
  color: red;
}
.Prepare {
  border: 1px solid rgb(200, 0, 255);
  border-radius: 3px;
  padding: 3px 5px;
  color: rgb(200, 0, 255);
}
